@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=EB+Garamond&display=swap");
h2,
h3,
h4 {
  font-family: "Sacramento", cursive;
  margin: 0;
}

h1 {
  background: #864723;
  color: #fff;
  display: inline-block;
  font-weight: 900;
  margin-bottom: 1em;
  padding: 0.5em 1em;
}

h2 {
  color: #333;
  font-weight: normal;
  font-size: 5em;
  letter-spacing: 1px;
  line-height: 1em;
}

h3 {
  font-size: 2.25em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0;
}

h4 {
  font-size: 1.5em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

p {
  font-family: verdana, arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  padding: 1rem;
  margin: 0;
}

a {
  font-style: italic;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}

a:hover {
  color: #ea2e49;
  text-decoration: none;
}

.generalButton {
  align-items: center;
  background-clip: padding-box;
  background-color: #B4C3AE;
  background-image: none;
  border-style: groove;
  border-color: #864723;
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
  font-family: verdana, arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  min-height: 64px;
  padding: 19px 26px;
  border-radius: 80px;
}

[role=banner] > h1 {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

.summary {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  padding: 15% 0;
}
.summary p:last-child {
  border-top: 1px solid #864723;
  margin-top: 1em;
  padding-top: 1.5em;
}
.summary a {
  color: #fff;
}

.preamble {
  background: rgba(255, 255, 255, 0.9);
  color: #333;
  margin-left: -30%;
  padding: 5% 5% 5% 30%;
}

.explanation, .participation, .benefits, .requirements {
  background: rgba(255, 255, 255, 0.9);
  color: #333;
  margin-left: -30%;
  padding: 5% 5% 5% 30%;
  width: 1500px;
}

.intro {
  padding: 5%;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: verdana, arial, sans-serif;
  font-size: 85%;
  color: #333;
  background-color: #DDCBB4;
  margin: 0;
  padding: 1em;
  justify-content: center;
}

.page-wrapper {
  width: 400px;
}

.intro {
  background-color: #864723;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}

.preamble {
  background: rgba(255, 255, 255, 0.9);
  color: #333;
  margin: 0;
  padding: 5% 5% 5% 5%;
}

.explanation, .participation, .benefits, .requirements {
  background: rgba(255, 255, 255, 0.9);
  color: #333;
  margin: 0;
  padding: 5% 5% 5% 5%;
  width: 400px;
}

@media screen and (min-width: 600px) {
  .page-wrapper {
    width: 100%;
  }
  .intro {
    background-color: #864723;
    min-width: 600px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: auto;
    background-image: url("Assets/hero.jpeg");
    background-size: cover;
  }
  #zen-intro h1 {
    display: grid;
    justify-content: center;
    font-family: "EB Garamond", serif;
    font-size: large;
    border-radius: 50px;
    opacity: 90%;
    padding: 20px;
    margin-left: 168px;
    margin-right: 168px;
    background-color: #864723;
  }
  .explanation, .participation, .benefits, .requirements {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 3%;
  }
}
@media screen and (min-width: 1400px) {
  html {
    background-color: #B4C3AE;
    padding: 5%;
  }
  body {
    display: grid;
    font-family: verdana, arial, sans-serif;
    font-size: 85%;
    color: #333;
    background-color: #DDCBB4;
    border-radius: 50px;
    height: auto;
    padding: 1em;
  }
  .page-wrapper {
    width: 100%;
    height: auto;
  }
  .intro {
    max-width: 100%;
    max-height: auto;
    background-image: url("Assets/hero.jpeg");
    background-size: cover;
    border-radius: 50px;
  }
  .preamble {
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50px;
    color: #333;
    padding: 5%;
    margin: 5%;
  }
  .explanation, .participation, .benefits, .requirements, .design-selection, .design-archives, .zen-resources {
    display: grid;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50px;
    color: #333;
    padding: 5%;
    width: 50%;
    margin-top: 5%;
    font-size: x-small;
  }
  .explanation:hover,
  .participation:hover,
  .benefits:hover,
  .requirements:hover,
  .design-selection:hover,
  .design-archives:hover,
  .zen-resources:hover {
    width: 100%;
    font-size: large;
  }
  #zen-intro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  #zen-intro header {
    display: grid;
    grid-column: 1/span 3;
    justify-content: center;
    align-items: center;
  }
  #zen-intro h1 {
    display: grid;
    justify-content: center;
    font-family: "EB Garamond", serif;
    font-size: xx-large;
    border-radius: 50px;
    opacity: 90%;
    padding: 20px;
    margin-left: 168px;
    margin-right: 168px;
    background-color: #864723;
  }
  #zen-intro h2 {
    font-size: 5em;
  }
  #zen-summary {
    grid-row-start: 2;
  }
  #zen-preamble {
    grid-column-start: 1/2;
    grid-row-start: 3;
  }
  footer {
    display: flex;
    justify-content: center;
  }
  footer a {
    display: flex;
    height: auto;
    margin-top: 2%;
    padding: 3%;
  }
  .zen-validate-html {
    display: flex;
    justify-content: center;
    background-image: url("Assets/HTML5_logo_and_wordmark.svg.png");
    background-size: cover;
    width: 7%;
    height: auto;
    color: transparent;
    margin-left: 10px;
    margin-right: 10px;
  }
  a.zen-validate-html:hover {
    color: transparent;
  }
  .zen-validate-css {
    display: flex;
    justify-content: center;
    background-image: url("Assets/CSS3_logo_and_wordmark.svg.png");
    background-position: center;
    background-size: cover;
    width: 7%;
    height: auto;
    color: transparent;
    margin-left: 10px;
    margin-right: 10px;
  }
  a.zen-validate-css:hover {
    color: transparent;
  }
  .zen-license {
    display: flex;
    justify-content: center;
    background-image: url("Assets/Artboard 1.png");
    background-position: center;
    background-size: cover;
    width: 8%;
    height: auto;
    color: transparent;
    margin-left: 10px;
    margin-right: 10px;
  }
  a.zen-license:hover {
    color: transparent;
  }
  .zen-accessibility {
    display: flex;
    justify-content: center;
    background-image: url("Assets/Artboard 2.png");
    background-position: center;
    background-size: cover;
    width: 8%;
    height: auto;
    color: transparent;
    margin-left: 10px;
    margin-right: 10px;
  }
  a.zen-accessibility:hover {
    color: transparent;
  }
  .zen-github {
    display: flex;
    justify-content: center;
    background-image: url("Assets/Artboard 3.png");
    background-position: center;
    background-size: cover;
    width: 8%;
    height: auto;
    color: transparent;
    margin-left: 10px;
    margin-right: 10px;
  }
  a.zen-github:hover {
    color: transparent;
  }
}

/*# sourceMappingURL=style.css.map */
