@use "variables" as *; //this puts all the variables in the global namespace.
@use 'atoms';
@use 'molecules';
@use 'organisms' as o;

* {
  box-sizing: border-box;
}
body {
  display: flex;
  font-family: verdana, arial, sans-serif;
  font-size: 85%;
  color: #333;
  background-color: #DDCBB4;
  margin: 0;
  padding: 1em;
  justify-content: center;
  flex-direction: column;
}

// small screen
.page-wrapper{
  width: 400px;
}

.intro {
  background-color: $accent1;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}
.preamble {
  background: rgba(255, 255, 255, 0.9);
  color: #333;
  margin: 0;
  padding: 5% 5% 5% 5%;
}
.explanation, .participation, .benefits, .requirements{
  background: rgba(255, 255, 255, 0.9);
  color: $text-dark;
  margin: 0;
  padding: 5% 5% 5% 5%;
  width: 400px;
  
}
@media screen and (min-width: 600px) {
  .page-wrapper{
    width: 100%;
  }
  
  .intro {
    background-color: $accent1;
    min-width: 600px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: auto;
    background-image: url("Assets/hero.jpeg");
    background-size: cover;
  }

  #zen-intro h1 {
    display: grid;
    justify-content: center;
    font-family: 'EB Garamond', serif;
    font-size: large;
    border-radius: 50px;
    opacity: 90%;
    padding: 20px;
    margin-left: 168px;
    margin-right: 168px;
    background-color: #864723;
  }

  .explanation, .participation, .benefits, .requirements{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 3%;    
  }
}


@media screen and (min-width: 1400px) {
  html {
    background-color: $background-color;
    padding: 5%;
  }
  body {
    display: grid;
    font-family: $fonts-body;
    font-size: 85%;
    color: $text-dark;
    background-color: $primary;
    border-radius: 50px;
    height: auto;
    padding: 1em;
  }
  .page-wrapper{
    width: 100%;
    height: auto;

  }
.intro {
  max-width: 100%;
  max-height: auto;
  background-image: url("Assets/hero.jpeg");
  background-size: cover;
  border-radius: 50px;
}
.preamble  {
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  color: $text-dark;
  padding: 5%; 
  margin: 5%;
}

#zen-intro {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: 3, 300px 1fr 1fr;
  width: 100%;
}

#zen-intro header {
  display: grid;
  grid-column: 1/ span 3;
  justify-content: center;
  align-items: center;
}

#zen-intro h1 {
  display: grid;
  justify-content: center;
  font-family: 'EB Garamond', serif;
  font-size: xx-large;
  border-radius: 50px;
  opacity: 90%;
  padding: 20px;
  margin-left: 168px;
  margin-right: 168px;
  background-color: #864723;
}

#zen-intro h2 {
  font-size: 5em;
}

#zen-summary {
  grid-row-start: 2;
}

#zen-preamble {
  grid-column-start: 1/2;
  grid-row-start: 3;
}


.explanation,
.participation,
.benefits,
.requirements,
.design-selection,
.design-archives,
.zen-resources {
  display: flex;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  color: #333;
  width: 30%;
  min-height: 150px;
  margin-top: 5%;
  font-size: small;
  justify-content: center;
  align-items: center;
}

.explanation:hover,
 .participation:hover,
  .benefits:hover,
  .requirements:hover,
  .design-selection:hover,
  .design-archives:hover,
  .zen-resources:hover{
  width: 100%;
  font-size: large;
  display: block;
}

.explanation p,
.participation p,
.benefits p,
.requirements p,
.design-selection ul,
.design-archives ul,
.zen-resources ul
 {
  display: none;
}

.explanation:hover p,
.participation:hover p,
.benefits:hover p,
.requirements:hover p,
.design-selection:hover ul,
.design-archives:hover ul,
.zen-resources:hover ul
{
  display: block;
}
  
.design-selection:hover ul,
.design-archives:hover ul,
.zen-resources:hover ul
{
  margin-left: 4%;
  padding: 1%;
  padding-bottom: 4%;
}

.design-selection:hover h3,
.design-archives:hover h3,
.zen-resources:hover h3
{
  margin-top: 2%;
  margin-left: 4%;
  
}

footer{
  display: flex;
  justify-content: center;
}

footer a{
  display: flex;
  height: auto;
  margin-top: 2%;
  padding: 3%;
  }


.zen-validate-html{
  display: flex;
  justify-content: center;
  background-image: url("Assets/HTML5_logo_and_wordmark.svg.png");
  background-size: cover;
  width: 7%;
  height: auto;
  color: transparent;
  margin-left: 10px;
  margin-right: 10px;
}

a.zen-validate-html:hover{
  color: transparent;
}

.zen-validate-css{
  display: flex;
  justify-content: center;
  background-image: url("Assets/CSS3_logo_and_wordmark.svg.png");
  background-position: center;
  background-size: cover;
  width: 7%;
  height: auto;
  color: transparent;
  margin-left: 10px;
  margin-right: 10px;
}

a.zen-validate-css:hover{
  color: transparent;
}

.zen-license{
  display: flex;
  justify-content: center;
  background-image: url("Assets/Artboard 1.png");
  background-position: center;
  background-size: cover;
  width: 8%;
  height: auto;
  color: transparent;
  margin-left: 10px;
  margin-right: 10px;
}

a.zen-license:hover{
  color: transparent;
}


.zen-accessibility{
  display: flex;
  justify-content: center;
  background-image: url("Assets/Artboard 2.png");
  background-position: center;
  background-size: cover;
  width: 8%;
  height: auto;
  color: transparent;
  margin-left: 10px;
  margin-right: 10px;
}

a.zen-accessibility:hover{
  color: transparent;
}

.zen-github{
  display: flex;
  justify-content: center;
  background-image: url("Assets/Artboard 3.png");
  background-position: center;
  background-size: cover;
  width: 8%;
  height: auto;
  color: transparent;
  margin-left: 10px;
  margin-right: 10px;
}

a.zen-github:hover{
  color: transparent;
}

}