@use "variables" as *; //this puts all the variables in the global namespace.
@use 'atoms';
@use 'molecules';
@use 'organisms' as o;

* {
  box-sizing: border-box;
}

html {
  background-color: $background-color;
  padding: 5%;
}
body {
  display: grid;
  font-family: $fonts-body;
  font-size: 85%;
  color: $text-dark;
  background-color: $primary;
  margin: 0;
  padding: 1em;
}
// small screen
.page-wrapper{
  width: fit-content;
}
.intro {
  background-color: $accent1;
  width: 400px;
  padding: 15px;
}




// @media screen and (max-width: 600px) {

// .intro {
//   background-image: url("Assets/AdobeStock_126696199.jpeg");
//   background-size: cover;
//   // transform: scaleX(-1);
// }

// #zen-intro {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   grid-template-rows: 3, 300px 1fr 1fr;
// }

// #zen-intro header {
//   display: grid;
//   grid-column: 1/ span 3;
//   justify-content: center;
//   align-items: center;
// }

// #zen-intro h1 {
//   display: grid;
//   justify-content: center;
//   font-family: 'EB Garamond', serif;
//   font-size: xx-large;
//   border-radius: 50px;
//   opacity: 90%;
//   padding: 20px;
//   margin-left: 168px;
//   margin-right: 168px;
//   background-color: #864723;
// }

// #zen-intro h2 {
//   font-size: 5em;
// }

// #zen-summary {
//   grid-row-start: 2;
// }

// #zen-preamble {
//   grid-column-start: 1/2;
//   grid-row-start: 3;
// }
// }